<h1>New Genre</h1>

<%= form_for(@genre) do |f| %>
  <p>
    <%= f.label :name, "Name:", for: "genre_name" %>
    <br>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <%= f.submit "Create Genre" %>    
<% end %>

<p><%= link_to "Back to List", genres_path %></p>
