<h1>My Genre</h1>

<div><%= link_to "Edit", edit_genre_path %></div>

<h3>Genre Name</h3>
<p>=> <%= @genre.name %></p>

<p><%= button_to "Delete", @genre, method: :delete, data: {confirm: "Are you sure to delete this?"} %></p>

<h2><%= @genre.name %> Songs</h2>
<% @songs.each do |song| %>
  <p><%= link_to song.name, song %></p>
<% end %>

<h2>Artists Who Covered <%= @genre.name %></h2>
<% @artists.each do |artist| %>
  <p><%= link_to artist.name, artist %></p>
<% end %>

<p><%= link_to "Back to List", genres_path %></p>
